/* Below I learned that I can add images through css instead of adding the images in HTML file. */

/* To add to this, I cannot add images like the hero images in CSS file, I will have to have a HTML img tag to add the hero images */

/* Additionally, I have a strong understanding of the difference between margin and padding now (REF: https://www.geeksforgeeks.org/css-margins-padding/) */


@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

.wrapper {
    min-width: 960px;
    max-width: 1440px;
}

/* Navigation bar */
.navbar{
    box-shadow: 5px 3px 5px 5px rgba(0, 0, 0, 0.048);
    height: 60px;
    width: 100vw;
    padding-bottom: 80px;
}
.nav-right{
   position: relative;
   left: 50%;
}

#logo {
    background: url("../starter-code/assets/logo.svg") no-repeat;
    width: 118px;
    height: 68px;
    margin-top: 35px;
}
.active{
    background-color: #4D96A9;
    border-radius: 0;
}

/* First Section of home page */
.top-box-section {
    padding: 40px 55px;
   width: 100vw;
   margin: 0;
}

h1 {
    font-size: 64px;
    font-weight: 900;
    margin: 0;
    padding: 0 25px 15px 25px;
    color: #28283D;
}

.box-text {
    padding-top: 65px;
    width: 60%;
    height: 400px;
    text-align: center;
}

.hero-right {
   width: 55%;
    height: 15%;
   
}

.hero-left {
    width: 55%;
    height: 15%;
}

.box-text p {
    margin: 0;
    padding-bottom: 40px;
}

.download-button {
    background-color: #4D96A9;
    padding-left: 35px;
    padding-right: 35px;
    margin-right: 25px;
}
.download-button span {
    color: #8FE3F9;
}

.about-button {
    background-color: #855FB1;
    color: #ffffff;
    padding-left: 55px;
    padding-right: 55px;
}

section{
    padding-right: 40px;
    display: flex;
    align-items: center;
    margin-left: 25px;
}


/* Links */
a  {
    border-radius: 40px;
    border: none;
    padding: 18px 25px;
    margin-right: 10px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 16px;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: #ffffff;
}

/* Lines */
.container-lines {
    padding-top: 50px;
    padding-bottom: 40px;
    color: #87879D;
    width: 100vw;
}

.lines {
    width: 100%;
    height: 45px;
    position: relative;
}


.lines::after, .lines::before {
    content: "";
    position: absolute;
    margin: auto;
    height: .3px;
    background: #87879D;
    width: 25%;
    top: 45%;
}

/* create the horizontal lines here */

/* left line */

.lines::after {
    left: 8%;
}

/* right line */

.lines::before {
    right: 8%;
}

.circle {
    height: 40px;
    width: 40px;
    border: .5px solid #87879D;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 50%;
    border-radius: 50%;
    padding-left: 8.8px;
    padding-top: 6.5px;
}

/* Images */
.image-container {
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: 18%;
    width: 100vw;
}

.middle-images {
    width: 252px;
    height: 242px;
    padding: 8px;
    border-radius: 15px;
}

/* Second section of home page */
.middle-box-section {
    width: 504px;
    height: 300px;
    margin-left: 38%;
    text-align: center;
}

h2 {
    font-size: 40px;
}

.middle-box h2 {
    font-weight: 900;
    text-align: center;
    padding: 0 40px 28px 40px;
}

.middle-box p:first-child {
    text-transform: uppercase;
    color: #4D96A9;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 5px;
    font-size: 14px;
}

/* Third Section of home page */
.end-box-section {
    height: 308px;
    color: #ffffff;
    background-image: url("../starter-code/assets/desktop/image-footer.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
}

.end-box {
    background-color: #4D96A9;
    opacity: 0.9;
    height: 100%;
    width: 150%;
   margin: 0;
}

.flexbox-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.flex-items {
    width: 500px;
    text-align: left;
    padding-left: 100px;
}

.flex-items p {
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;

}

.end-download-btn {
    background-color: #855FB1;
    color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
}

.end-btn {
    color: #D9B8FF;
}

p, ul{
    color: #87879D;
}

/* End of homepage */


/* Start of About us page */
/* First Section */

.about-header{
    text-align: center;
    padding: 40px;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 80%
}

.about-header::before, .about-header::after{
        display: block;
        height: 2px;
        background-color: #4D96A9;
        content: " ";
}


header{
    background-image: url("./starter-code/assets/desktop/pexels-gustavo-fring-4173169.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 100vh;
}

.about-top, .about-middle, .about-end{
    display: block;
    padding: 35px 0;
   margin-left: 5%;
}

.about-top h2{
    font-weight: 900;
}
.about-middle h2{
    font-weight: 900;
}
.about-end h2{
    font-weight: 900;
}
.about-top{
   margin-left: 5%;
}

li{
    padding: 10px 0;
}
.uppercase-unlimited{
    text-transform: uppercase;
    font-weight: 900;
}

.about-end{
    margin-right: 5%;
}

/* End of about page */

/* First section of join page */
.join-container{
    width: 35%;
   display: block;
   margin: 8% 34%;
   border-radius: 40px;
   box-shadow: 5px 5px 5px 5px rgba(150, 150, 150, 0.411);
   background-color: rgb(248, 248, 248);
   padding:45px 100px;

}

.join-container h2{
    font-size: 40px;
    text-align: center;
    padding-bottom: 25px;
    font-weight: 900;
}

.join-label{
    padding-bottom: 15px;
    font-size: 12px;
    font-weight: 400;
    padding-left: 10px;
}
#join{
    width: 100%;
    border-radius: 40px;
}

.join-btn{
    width: 100%;
    border-radius: 40px;
    background-color: #855FB1;
    border-style: none;
    
}

.join-btn:hover{
    text-decoration: none;
    background-color: #855FB1;
}


.join-illustration{
    position: absolute;
    top: 40%;
    left: 0;
    z-index: -1;
}

.join-illustration img{
    width: 70%;
} 

/* End of join a meeting page */
/* First section of host page */
.host-container{
    width: 40%;
   display: block;
   margin: 8% 34%;
   border-radius: 40px;
   box-shadow: 5px 5px 5px 5px rgba(150, 150, 150, 0.411);
   background-color: rgb(248, 248, 248);
   padding:45px 100px;

}

.host-container h2{
    font-size: 40px;
    text-align: center;
    padding-bottom: 25px;
    font-weight: 900;
}

.host-label{
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
}
#host{
    width: 80%;
    border-radius: 40px;
}

.host-btn{
    width: 45%;
    border-radius: 40px;
    background-color: #4D96A9;
    border-style: none;
    margin-top: 15px;
}

.host-btn:hover{
    text-decoration: none;
    background-color: #4D96A9;
}


.host-illustration{
    position: absolute;
    top: 60%;
    left: 0;
    z-index: -1;
}

.host-illustration img{
    width: 70%;
} 

.form-check-label{
    font-size: 15px;
}

/* End of host a meeting page */
/* First section of sign in */
.sign-in-container{
        width: 40%;
       display: block;
       margin: 5% 30%;
       border-radius: 40px;
       box-shadow: 5px 5px 5px 5px rgba(150, 150, 150, 0.411);
       background-color: rgb(248, 248, 248);
       padding:45px 100px;
    
}

.sign-in-btn{
        width: 45%;
        border-radius: 40px;
        background-color: #4D96A9;
        border-style: none;
        margin-top: 15px;
}

.sign-in-container h2{
    font-size: 40px;
    text-align: center;
    padding-bottom: 25px;
    font-weight: 900;
}

.sign-in-label{
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
}

.sign-in-btn{
    border-radius: 40px;
    background-color: #855FB1;
    border-style: none;
    
}

.sign-in-btn:hover{
    text-decoration: none;
    background-color: #855FB1;
}


/* End of sign in page */
/* First section of contact page */
.contact-container{
    width: 40%;
    display: block;
    margin: 3% 30%;
    border-radius: 40px;
    box-shadow: 5px 5px 5px 5px rgba(150, 150, 150, 0.411);
    background-color: rgb(248, 248, 248);
    padding:45px 100px;
}
.contact-container h2{
    font-size: 40px;
    text-align: center;
    padding-bottom: 25px;
    font-weight: 900;
}

.col{
    padding: 25px 15px;
}
.col-md{
    padding-bottom: 25px;
}

.contact-btn{
        width: 40%;
        border-radius: 40px;
        background-color: #4D96A9;
        border-style: none;
        margin-top: 8%;
    }
    
    .contact-btn:hover{
        text-decoration: none;
        background-color: #4D96A9;
    }
    